@import "./bootstrap/scss/bootstrap";

#main-navbar{
    background-color: pink;
    color: white;
}
#main-navbar a{
    color: white;
}

#main-navbar .align-self-center:nth-child(3) a {
    color: darkgreen;
    font-size: 42px;
}

.whatsapp {
    background-color: green;
    border-radius: 15px;
}